.knowledge__feature__text {
    margin-left: 6%;
    height: 
}

.knowledge__feature__text h1 {
    color: #6d85f2;
    margin: 0;
}

.knowledge__feature__text h2 {
    font-weight: 100;
    margin-top: 5px;
    width: 85%;
}